<div class="note-content">
  <div class="note-header">
    <h3 class="note-header-title">{{model.id}}</h3>
    {{#if model.hasDirtyAttributes}}
    <p class="note-status-message">
      This note has not been saved.
    </p>
    {{/if}}
  </div>

  {{textarea value=model.content class="note-body"}}

  {{#if model.hasDirtyAttributes}}<button {{action 'saveNote' on='click'}}>Save Note</button>{{/if}}
</div>
