<div class="note-list">
  <div class="new-note">
    <form {{action 'createNote' on="submit"}}>
    {{input type="text"
            placeholder="New Note Title"
            value=newNoteTitle
            submit="createNote"
            class="new-note-title"}}
    </form>
  </div>

  {{note-list notes=model}}
</div>

{{outlet}}
